@media screen and (max-width: 576px) {
    .nav {
        display: none;
    }
    .container {
        padding: 0 20px;
    }
    .hero__container {
        flex-direction: column;
    }
    .hero__image {
        max-width: 100%;
        margin-top: 20px;
    }
    .hero {
        padding: 50px 0;
    }
    .hero__title {
        font-size: 60px;
    }
    .hero__description {
        font-size: 19px;
    }
    .hero__link {
        padding: 12px 30px;
    }
    .boy__container {
        flex-direction: column;
    }
    .boy__image {
        max-width: 70%;
    }
    .botan__container {
        flex-direction: column-reverse;
    }
}